@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.eot");
  src: url("./fonts/Inter-Regular.woff") format("woff"),
  url("./fonts/Inter-Regular.ttf") format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Medium.woff") format("woff");
  src: url("./fonts/Inter-Medium.eot"),
  url("./fonts/Inter-Medium.ttf") format('truetype');
  font-weight: 500;
  font-display: swap;
}

.help {

  & * {
    font-family: Inter, sans-serif;
  }

  span, p, li, ul, a {
    padding: 0;
    margin: 0;
    color: #1d1d1d;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  position: fixed;
  bottom: 74px;
  right: 24px;
  z-index: 9999;
  max-width: 244px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 8px 49px 0 #A2B2D8A6;
  border-radius: 8px;
  padding: 24px 16px;
  color: #1d1d1d;
  margin-bottom: 16px;
  transition: .2s;
  opacity: 0;
  pointer-events: none;
  overflow: auto;

  &_open {
    opacity: 1;
    pointer-events: initial;
  }

  @media screen and (max-height: 693px) and (min-width: 600px){
    top: 16px;
    bottom: auto;
    height: calc(100vh - 16px - 90px);
  }

  @media screen and (max-width: 600px) {
    width: 100vw;
    height: var(--app-height);
    bottom: 0;
    right: 0;
    max-width: none;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    opacity: initial;
    transform: translateX(100%);

    &_open {
      transform: translateX(0);
    }
  }

  .help__title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;

    @media screen and (max-width: 600px) {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  .help__description {
    font-size: 12px;
    line-height: 14.5px;
    margin-bottom: 16px;

    @media screen and (max-width: 600px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .help__video-preview {
    height: 118px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 24px;

    @media screen and (max-width: 600px) {
      height: 250px;
    }

    @media screen and (max-width: 520px) {
      height: 200px;
    }

    @media screen and (max-width: 380px) {
      height: 150px;
    }

    a {
      display: block;
      position: relative;
      height: 100%;
    }
  }

  .help__preview-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  .help__academy {
    font-size: 12px;

    @media screen and (max-width: 600px) {
      font-size: 16px;
    }
  }

  .help__link {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;

    @media screen and (max-width: 600px) {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 17px;
    }
  }

  .help__socials {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 7px;
    margin-bottom: 7px;

    @media screen and (max-width: 600px) {
      padding-top: 20px;
      margin-bottom: 20px;
    }
  }

  .help__social {
    width: 24px;
    height: 24px;

    @media screen and (max-width: 600px) {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  .help__footer {
    font-size: 12px;
    color: #A2B2D8;
    line-height: 14.5px;
    padding-top: 15px;

    @media screen and (max-width: 600px) {
      font-size: 16px;
      line-height: 20px;
      margin-top: auto;
    }
  }

  .help__close {
    position: absolute;
    top: 20px;
    right: 30px;
    display: none;

    border: none;
    background: none;
    margin: 0;
    padding: 0;

    img {
      width: 24px;
      height: 24px;
    }

    @media screen and (max-width: 600px) {
      display: block;
    }
  }

  .help__links {
    margin-top: 17px;
    padding-top: 7px;
  }

  .help__links, .help__footer, .help__socials {
    border-top: 1px solid #A2B2D8;
  }

  .help__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.18);
    overflow: initial;
  }
}

.handle-help-btn {
  border: 0;
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 100;
  background-color: #3568DD;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: auto;
  transition: .2s;
  box-shadow: 0 8px 49px rgba(162, 178, 216, 0.65);

  @media screen and (max-width: 600px) {
    right: 16px;
    bottom: 16px;
  }

  path {
    fill: white;
    transition: .2s;
  }

  &_active {
    background: #fff;

    path {
      fill: #3568DD;
    }
  }

  &:hover {
    background: rgba(162, 178, 216, 0.35);

    path {
      fill: #3568DD;
    }
  }

  .handle-help-btn__fade {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: #fff;
  }
}

.handle-help-fade {
  width: 500px;
  height: 500px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 99;
  filter: blur(119.5px);
  pointer-events: none;
  opacity: 0;
  transition: .2s;

  &_active {
    opacity: 1;
  }

  @media screen and (max-width: 600px) {
    display: none;
  }
}